{% extends "base.html" %}

{% block title %} String/Karchner Wedding {% endblock %}



{% block main %}
<img src="/static/jello.jpg" align="right" class="photo"/>
<h2>Welcome!</h2>

<p>Hello friends and family!  We’re excited to share our special day with all of you.  Thank you for visiting our website.  We will be adding information as we get closer to the big event, so please check back occasionally for updates.</p>


<h3>Ceremony & Reception</h3>

<p>October 6, 2012<br/>
Mount Airy Mansion<br/>
Upper Marlboro, MD<br/>
</p>

<h3>What's your favorite wedding song?</h3>
<p> We want to know! Head over to <a href="/songs/">our Songs page</a> to send us your ideas, and see what other guests think!</p>

{% endblock %}