{% extends "base.html" %}

{% block title %} String/Karchner Wedding: The Wedding Party {% endblock %}


{% block main %}

<h2>The wedding party</h2>

	<h3>Bridesmaids</h3>
	<ul>
		<li>Deanna Rolland</li>
		<li>Dana Oliver</li>
		<li>Leigh String</li>
		<li>Aimee String</li>
		
	</ul>
		<h3>Groomsmen</h3>
	<ul>
		<li>Brian Oliver</li>
		<li>Paul Gomez</li>
		<li>Bill String</li>
		<li>Dan String</li>
	</ul>

	<h3>Kids</h3>
	<ul>
		<li>Lexie Nagle</li>
		<li>Abigail String</li>
		<li>Brynn String</li>
	</ul>


{% endblock %}